@import 'scss/variables';

.day {
    background-color: $primaryColor;
    color : $secondaryColor;
}

.night {
    background-color: $secondaryColor;
    color : $primaryColor;
}


#clock {
    margin-left : 25%;
    margin-right : 25%;
    margin-top : 40vh;
    font-size: $primary-font-size;
}
#mode-button {
    align-content: center;
    width : 80%;
    height : 10%;
    font-size: $secondary-font-size
}
